/* font-family: 'Lobster', cursive;
 font-family: 'Josefin Sans', sans-serif;
*/

#contenido{
	width:1000px;
	height:auto;
	margin:auto;
	position:relative;
}

body{

	background-image: url(../fondos/fondo.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: 'Lobster', cursive;
	margin-left: 10px;
	font-size: 50px;
	text-align: center;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
}

h3{
	font-family: 'Tahoma';
	margin-left: 20px;
	color: red;
}

header{
	width: 1000px;
	height: 120px;
	background: rgba(255,255,255,0,5);
	margin-bottom: 20px;
}

nav{
	width: 1000px;
	height: 50px;
	margin-right: 20px;
	background: lightgreen;
	border-radius: 10px;
}

ul{
	margin: auto;
	padding-top: 4px;
	margin-right: 4px;
}

li{
	float: right;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px; 
	border-radius: 10px;
	box-shadow: 0 0 10px white inset;
}

section{
	width: 700px;	
	height:auto;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
}

aside{
	width: 280px;
	background: lightgreen;
	height: 400px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	border-radius: 10px;
	text-align: center;	
}

footer{
	width: 1000px;
	height: 100px;
	background: lightgreen;
	margin-top: 30px;
	float: left;
	border-radius: 10px;
}

p{
text-align: justify;
font-weight: bolder;
margin-left: 10px;
}

/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 990px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 10px green;}
.menu:active{color: white; text-decoration: none;}

.enlaces:link{color: maroon; text-decoration: none;}
.enlaces:visited{color: maroon; text-decoration: none;}
.enlaces:hover{color: maroon; text-decoration: none; text-shadow: 0 0 10px green;}
.enlaces:active{color: maroon; text-decoration: none;}

